@import '../../styles/index.scss';

.button {
  color: $MediumLightColor;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;

  &:disabled {
    color: $LightColor;
    background-color:  $MediumLightColor;
    cursor: not-allowed;
  }

  &:enabled {
    color: $LightColor;
    background-color: $MediumDarkColor;
    &:hover {
      background-color: $DarkColor;
    }
  }
}
