$Black: #000000;
$DarkColor: #132a13;
$MediumDarkColor: #31572c;
$MediumColor: #4f772d;
$MediumLightColor: #90a955;
$LightColor: #ecf39e;
$White: #ffffff;
$Warn:rgb(134, 0, 0);

* {
  box-sizing: border-box;
  margin: 0;
  font-family: monospace;
  color: $DarkColor;
}
