@import '../../styles/index.scss';

.error-message {
  color: $Warn;
  font-size: 17px;
  margin-top: -10px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.error-message::first-letter {
  text-transform: capitalize;
}