@import '../../styles/index.scss';

.anchor {
  display: inline-block;
  text-decoration: underline;
  text-align: center;
  color: $MediumDarkColor;
  padding: 5px;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}
