@import '../../styles/index.scss';

.header {
  background-color: $MediumColor;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  h2 {
    color: $LightColor;
    font-size: 24px;
    margin: 0;
  }
}
